<section>
  <h4>SNEAKER COMPANY</h4>
  <h1>Fall Limited Edition Sneakers</h1>
  <p>
    These low-profile sneakers are your perfect casual wear companion. Featuring
    a durable subber outer sole, they'll withstand everything the weather an
    offer
  </p>
  <div><span>$125</span></div>
  <div>
    <div id="item-quantity-container">
      <button id="minus" class="item-quantity-controller">-</button>
      <button class="item-quantity">0</button>
      <button id="plus" class="item-quantity-controller">+</button>
    </div>
    <button>Add to cart</button>
  </div>
</section>
