section{
  display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
}

img{
  border-radius: 18px;
}

#main-image {
  width: 380px;
}

.thumbnail {

  cursor: pointer;
  width: 82px;
}

.selected {
  opacity: 0.8;
  border: 4px solid orange;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

div{
  display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 380px;
}
