<section>
  <img id="main-image" src={{mainImageSrc}} alt="main-image" (click)="toggleModal()"/>
  <div class="thumbnails-container" >
    <div
      class="thumbnail-container"
      *ngFor="let thumbnail of currentProduct.thumbnails"
      [ngClass]="{ selected: imageSelected == thumbnail.id }"
    >
      <img
        class="thumbnail"
        src={{thumbnail.image}}
        alt=""
        id={{thumbnail.id}}
        (click)="changeImage($event)"
      />
    </div>
  </div>
</section>
<app-modal [currentProduct]="currentProduct" (toggleModal)="toggleModal()" *ngIf="showModal"></app-modal>
