section{
  display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
}

img{
  border-radius: 18px;
  cursor: pointer;
}

#main-image {
  width: 380px;
}

.thumbnail {
  height: 100%;
  cursor: pointer;
  width: 82px;
}

.thumbnail-container{
 border-radius: 18px;
}
.selected {
  outline: 2px solid orange;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  img{
    opacity: 0.5;
  }
}

.thumbnails-container{
  display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 380px;
}
