<section>
  <div id="main-image-container">
    <button (click)="selectPreviousImage()" id="previous-button">
      <img src="assets//icons/icon-previous.svg" />
    </button>
    <button (click)="selectNextImage()" id="next-button">
      <img src="assets//icons/icon-next.svg" />
    </button>
    <img
      id="main-image"
      src="{{ mainImageSrc }}"
      alt="main-image"
      (click)="toggleModal()"
    />
  </div>

  <div class="thumbnails-container">
    <div
      class="thumbnail-container"
      *ngFor="let thumbnail of currentProduct.thumbnails"
      [ngClass]="{ selected: imageSelected == thumbnail.id }"
    >
      <img
        class="thumbnail"
        src="{{ thumbnail.src }}"
        alt=""
        id="{{ thumbnail.id }}"
        (click)="changeImage($event)"
      />
    </div>
  </div>
</section>
<app-modal
  [currentProduct]="currentProduct"
  [imageSelected]="imageSelected"
  (toggleModal)="toggleModal()"
  *ngIf="showModal"
></app-modal>
