section {
  display: flex;
  width: 80%;
  margin: 0 auto;
}
app-picture,
app-description {
  width: 50%;
}

@media screen and (max-width: 500px) {
  section {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  app-picture,
  app-description {
    width: initial;
  }
}
